version: "3.9"

services:

  app:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - ollama
    volumes:
      - .:/app
    restart: always

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: always

volumes:
  ollama_data: